.poke-title {
    font-family: 'Lemon Grass';
    font-size: 65px;
    text-align: center;
    margin: 15px 0;
}

.fa-leaf {
    color: var(--color-button);
    font-size: 40px;
    transform: rotate(-195deg);
}