@media screen and (min-width: 768px) {
    .poke-title {
        font-size: 80px;
        margin: 40px 0;
    }

    .cards-container {
        width: 700px;
        margin: 20px;
        display: flex;
        justify-content: space-around;
    }

    .card-up {
        margin-top: 20px;
    }

    .button {
        padding: 15px 23px;
    }

    .img-group {
        margin-top: 30px;
    }
}