:root {
    --color-dark: #111344;
    --color-button: #52154E;
    --color-bg-1: #EFE9E7;
    --color-bg-2: #DAE0F2;
    --color-bg-3: #F9CFF2;
    --grey-light: #cccccc;
    --grey-dark: #888888;
    --color-white: #ffffff;
    --shadow: 0px 0px 15px #aaaaaa;
}
